<%- include("./header.ejs") %> <%- include("./sidebar.ejs") %>

    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Display</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Display</li>
              </ol>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
      <!-- </div> -->
      <div class="card">
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Course</th>
                <th>Status</th>
                <th>Comment</th>
                <th></th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% d.forEach((item)=>{ %>
                <tr>
                  <!-- <td><%= i+1 %></td> -->
                  <td>
                    <%= item.id %>
                  </td>
                  <td>
                    <%= item.name %>
                  </td>
                  
                  <td>
                    <%= item.course %>
                  </td>
                  <td>
                    <%= item.status %>
                  </td>
                  <td>
                    <form action="/update_status/<%= item._id %>" method="post">
                      <textarea name="comment" class="form-control"></textarea>
                      <input type="hidden" name="name" value="<%= item.name %>">
                      <input type="hidden" name="email" value="<%= item.email %>">
                  </td>
                  <td>
                    <button type="submit" name="status" class="btn btn-success" value="Approved">Approved</button>
                    <button type="submit" name="status" class="btn btn-danger" value="Reject">Reject</button>
                    </form>
                  </td>
                  
                  
                  <td>
                    <a href="/admin/view/<%= item.id %>" class="btn btn-info"><i class="fa-solid fa-eye"></i></a>
                    <a href="/admin/edit/<%= item.id %>" class="btn btn-info"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="/admin/delete/<%= item.id %>" class="btn btn-info"><i class="fa-solid fa-trash"></i></a>
                  </td>
                </tr>
                <% }) %>
            </tbody>
            <!-- <tfoot>
          <tr>
            <th>Rendering engine</th>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th>Engine version</th>
            <th>CSS grade</th>
          </tr>
        </tfoot> -->
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.content-wrapper -->

    <%- include("./footer.ejs") %>