<%- include("../header.ejs") %>
<br />
<h1 class="text-center mt-5">Course Display</h1>
<div class="container">
  <% if(msg.length >0){ %>
  <div class="alert alert-success"><%= msg %></div>
  <% } %>
  <table class="table table-bordered">
    <tr>
      <th>S.No</th>
      <th>id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Comment</th>
      <th>Course</th>
      <th>Action</th>
      
    </tr>
    <% d.forEach((item,i)=>{%>
    <tr>
      <td><%= i+1 %></td>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.email %></td>
      <td><%= item.status %></td>
      <td><%= item.Comment %></td>
      <td><%= item.course %></td>
      
      <td>
        <a href="/courseView/<%= item.id %>" class="btn btn-info">View</a>
        <a href="/courseEdit/<%= item.id %>" class="btn btn-info">Edit</a>
        <a href="/courseDelete/<%= item.id %>" class="btn btn-info">Delete</a>
      </td>
    </tr>
    <% }) %>
  </table>
</div>

<center>
  <a href="/home" class="btn btn-primary">Back</a>
</center>
<br />
<%- include("../footer.ejs") %>
