<%- include("../header.ejs") %>
  <br />
  <h1 class="text-center mt-5">Course Display</h1>
  <div class="container">
    <form action="/courseUpdate/<%= d.id %>" method="post">
      <div class="form-group">
        <label for="name">Enter name</label>
        <input type="text" class="form-control" placeholder="Enter full name" name="name" id="name" required
          value="<%= d.name %>" />
      </div>
      <div class="form-group">
        <label for="email">Enter email</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email" id="email" required
          value="<%= d.email %>" />
      </div>
      <div class="form-group">
        <label for="number">Phone number</label>
        <input type="number" class="form-control" placeholder="Enter number" name="phone" id="number" required
          value="<%= d.phone %>" />
      </div>
      <div class="form-group">
        <label for="DOB">DOB</label>
        <input type="date" class="form-control" placeholder="dd-mm-yy" name="dob" id="DOB" required value="<%= d.dob %>" />
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" placeholder="Address" name="address" id="address" required  value="<%= d.address %>"/>
      </div>
      <div class="mb-3">
        <label for="">Gender</label>
        <input type="radio" name="gender" value="male" <%= d.gender=='male' ?'checked':'' %>>Male

        <input type="radio" name="gender" value="female" <%= d.gender=='female' ?'checked':'' %>>Female
      </div>
      <div class="mb-3">
        <label for="">Education</label>
        <select name="education" id="" class="form-control form-select">
          <option  value="">Select education</option>
          <option <%= d.education == '10th' ? 'selected' : '' %>>10th</option>
          <option <%= d.education == '12th' ? 'selected' : '' %>>12th</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="">Course</label>
        <input type="text" value="Btech" readonly class="form-control" name="course" />
      </div>

      <center>
        <button class="btn btn-primary mt-3" type="submit">Update</button>
      </center>
    </form>
  </div>
  <br />
  <center>
    <a href="/courseDisplay" class="btn btn-primary">Back</a>
  </center>
  <br />
  <%- include("../footer.ejs") %>