<%- include("../header.ejs") %>
<br />
<h1 class="text-center mt-5">Course Display</h1>
<div class="container">
  <table class="table table-bordered">
    <tr>
      
      <th>id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>DOB</th>
      <th>Course</th>
      <th>Address</th>
    
    </tr>
        <tr>
            
            <td><%= d.id %></td>
            <td><%= d.name %></td>
            <td><%= d.email %></td>
            <td><%= d.phone %></td>
            <td><%= d.dob %></td>
            <td><%= d.course %></td>
            <td><%= d.address %></td>
        </tr>
  </table>
</div>

<center>
    <a href="/courseDisplay" class="btn btn-primary">Back</a>
</center>
<br>
<%- include("../footer.ejs") %>
